---
import HexToTailwind from "../components/HexToTailwind";
import FeedbackForm from "../components/FeedbackForm";
import Link from "../components/Link.astro";
import HexCodeInUrlNotifier from "../components/HexInUrlNotifier";

const title = "HEX to Tailwind";
const description =
  "Find the closest Tailwind color for a given HEX code. A simple online web app that is completely free.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const image = "/meta.webp";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="HEX to Tailwind" />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- Analytics -->
    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src={import.meta.env.ANALYTICS_URL}
          data-website-id={import.meta.env.ANALYTICS_WEBSITE_ID}
        />
      )
    }
  </head>
  <body class="bg-neutral-100">
    <main class="mx-auto max-w-prose p-3 mt-3 md:mt-10">
      <section class="mb-8">
        <h1 class="text-4xl font-bold mb-3">HEX to Tailwind</h1>
        <p class="text-[1.25rem] md:text-[1.5rem]">
          Convert your HEX code to the closest color in the
          <Link url="https://tailwindcss.com/docs/customizing-colors"
            >Tailwind color palette</Link
          >.
        </p>
      </section>
      <HexToTailwind client:load url={canonicalURL.toString()} />
      <HexCodeInUrlNotifier client:only="react" />
      <section class="mt-8 mb-8">
        <h2 class="text-2xl font-bold mb-3">How does it work?</h2>
        <div class="space-y-3">
          <p>
            Type (or copy/paste) the HEX code in the input box on the left hand
            side. The code can be with or without the hashtag.
          </p>
          <p>
            The website will then generate the closest Tailwind color on the
            right hand side, together with the corresponding HEX code. We use
            the Delta E algorithm, which is the official way to measure the
            difference between two colors.
          </p>
          <p>
            You can quickly copy either of the two generated color codes by
            clicking or tapping on the clipboard icon, or by pressing the Space
            or Enter keys when focused on the icon. And you can compare the two
            colors visually.
          </p>
          <p>
            We also highlight whether the difference between the HEX code input
            and the generated Tailwind color is visible to the human eye. We do
            this by checking whether the Delta E score is higher than 1, which
            is the official way to establish this fact.
          </p>
        </div>
      </section>
      <section class="mb-8">
        <h2 class="text-2xl font-bold mb-3">About</h2>
        <div class="space-y-3">
          <p>
            Hi there! My name is Mihail and I'm a software engineer based in
            London, UK. I was initially sceptical of Tailwind, but I decided to
            give it a go last year and never looked back.
          </p>
          <p>
            I often check out other websites for design inspiration, especially
            around colour themes. But not everyone uses Tailwind; in those
            instances, I have to figure out a way to fetch it from the HEX code
            found in the CSS. Hence why I decided to build this website :)
          </p>
          <p>
            I'm using the <Link url="https://astro.build/">Astro</Link> and <Link
              url="https://react.dev/">React</Link
            > frameworks for the website, and it's hosted on <Link
              url="https://pages.cloudflare.com/">Cloudflare Pages</Link
            > for free (woohoo!).
          </p>
          <p></p>
        </div>
      </section>
      <section>
        <h2 class="text-2xl font-bold mb-3">Contact me</h2>
        <div>
          <p class="mb-3">
            Have questions/feedback? Send a message using the form below;
            include your email if you'd like me to get back to you.
          </p>
          <FeedbackForm client:load />
          <p class="mt-3">
            You can also reach out to me directly <Link
              url="https://linkedin.com/in/mihailmarian">on LinkedIn</Link
            >.
          </p>
        </div>
      </section>
    </main>
    <footer class="my-5 text-center">
      Copyright Tuxedo Software {new Date().getFullYear()}
    </footer>
  </body>
</html>
